@import url('https://fonts.googleapis.com/css2?family=Alexandria:wght@100..900&display=swap');

body {
    font-family: alexandria, sans-serif;
    background-color: #6A0DAD;
    justify-content: center;
    text-align: center;
}

.header {
    padding: 50px;
    color: #00FFFF;
    font-size: 10px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.13);
}

.logo-icon img {
    width: 100px;
    height: 100px;
}

.login-container {
    background-color: #D9D9D9;
    width: 700px;
    height: 400px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.13) ;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-container h1 {
    color: #FF69B4;
    margin-bottom: 30px;
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.13);
} 
.input-box {
    margin-bottom: 20px;
    border-radius: 10px;
}

.form input {
    width: 500px;
    height: 20px;
    border: none;
    border-radius: 10px;
    padding: 10px;
    font-size: 15px;
    background-color: #C7C7C7;
    box-shadow: inset 2px 2px 5px rgba(0, 0, 0, 0.1);
}

input::placeholder {
    color: #9e9e9e;
    font-size: 14px;
}